@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-[150ms];
  }

  body {
    @apply antialiased font-sans text-body text-neutral-900 dark:text-neutral-900 bg-neutral-0 dark:bg-neutral-0;
  }

  h1 {
    @apply text-h1 font-bold text-neutral-800 dark:text-neutral-800;
  }

  h2 {
    @apply text-h2 font-semibold text-neutral-800 dark:text-neutral-800;
  }

  h3 {
    @apply text-h3 font-semibold text-neutral-800 dark:text-neutral-800;
  }

  h4 {
    @apply text-h4 font-semibold text-neutral-800 dark:text-neutral-800;
  }

  h5 {
    @apply text-h5 font-semibold text-neutral-800 dark:text-neutral-800;
  }

  p {
    @apply text-body text-neutral-600 dark:text-neutral-600;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-100 dark:bg-neutral-50 rounded-lg;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-300 dark:bg-neutral-300 rounded-lg;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400 dark:bg-neutral-400;
  }
}
